
- def render_groups groups
  - if groups && !groups.empty?
    - groups.each do |group|
      - render_group group

- def render_group group
  - unless group[:hide]
    - haml_tag :div do
      - haml_tag :h1, group[:heading]
      - haml_tag :p, group[:introduction]
      - render_examples group[:examples]
      - render_groups group[:groups]
      - haml_tag :p, group[:conclusion]

- def render_examples examples
  - if examples && !examples.empty?
    - examples.each do |example|
      - render_example example

- def render_example example
  - unless example.first == :hide
    - haml_tag :div do
      - example.each do |element|
        - case 
        - when element.keys.first == :head 
          - render_head element
        - when element.keys.first == :text
          - render_text element
        - when element.keys.include?(:code)
          - render_code element

- def render_head element
  - haml_tag :h1, element.values.first
   
- def render_text element
  - haml_tag :p, element.values.first
   
- def render_code element
  - unless element[:hide]
    - haml_tag :div do
      - haml_tag :pre, "<code>#{preserve(element[:code])}#{' #=> ' + element[:value].to_s if element[:value]}</code>"

%html

  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "chrome=1" }
    %meta{ name: "description", content: "#{specdoc[:groups].first[:title]} : #{specdoc[:groups].first[:tagline]}" }
    %link{ rel: "stylesheet", type: "text/css", media: "screen", href: "stylesheets/stylesheet.css" }
    %title= specdoc[:groups].first[:title]

  %body

    %div#header_wrap.outer
      %header.inner
        %a#forkme_banner{ href: specdoc[:groups].first[:url] } View on GitHub
        %h1#project_title= specdoc[:groups].first[:title]
        %h2#project_tagline= specdoc[:groups].first[:tagline]

    %div#main_content_wrap.outer
      %section#main_content.inner
        - render_groups specdoc[:groups]

